@import 'vendor/normalize';
@include normalize();
@import 'vendor/bootstrap';

@import 'base/global';
@import 'component/global';
@import 'layout/global';

html {
    height: 100%;
}

body {
    height: 100%;   
    // overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
    margin: 0; /*removes default style*/
    padding: 0; /*removes default style*/
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}