footer
    .container--padding
        .row-flex
            .box-3
                h2 Popular Shows
                ul
                    li TvShow Name
                    li TvShow Name
                    li TvShow Name
                    li TvShow Name
            .box-3
                h2 Popular Lists
                ul
                    li List Name
                    li List Name
                    li List Name
                    li List Name
            .box-3
                h2 Something Here
                ul
                    li Something Here
                    li Something Here
                    li Something Here
                    li Something Here
            