nav.col-sm-3.col-md-2.d-xs-none.mmh-100
    i(aria-hidden="true").fa.fa-television.fa-5x.d-flex.justify-content-center.my-3
    ul.nav.nav-pills.flex-column
        li.nav-item
            a.nav-link.active(href="/") Home
        li.nav-item
            a.nav-link(href="calendar") Calendar
        li.nav-item
            a.nav-link(href="") Item 3
        li.nav-item
            a.nav-link(href="") Item 4