.sidebar
    a(href="/").sidebar__logo
        img(src='./images/logo.png')
    ul.sidebar__menu
        li
            a(href="/calendar") Calendar
        li 
            a My TvShows
        li 
            a Features
        li 
            a Item 4
        li 
            a Item 5
    div(style='border-top: 1px solid white; width: 100%; height: 70px;')
        a(style='display: inline-block; float: left;') Username
        a(style='display: inline-block; float: right;') Logout