$white: #ffffff;
$whitetext: #f9f9f9;
$pureblack: #000000;
$black: #333333;
$blue: #2c3e50;
$lightblue: #2980b9;
$weekday: #8e44ad;
$grey: #7f8c8d;
$grey2: #34495e;
$green: #27ae60;
$yellow: #f5d248;
$red: #c0392b;

$shadow: rgba(0, 0, 0, 0.1) 0 2px 4px, rgba(0, 0, 0, 0.1) 0 0 3px;