$facebook: #3b5998;

.btn {
    cursor: pointer;
    &-facebook {
        background-color: $facebook;
        border-color: $facebook;
        color: $white;
        &:focus {
            box-shadow: 0 0 0 0.2rem rgba($facebook, 0.25);
        }
        &:hover {
            color: $white;
            background-color: darken($facebook, 7.5%);
            border-color: darken($facebook, 10%);
        }
    }
}