extends layout/base

block content
    include partials/sidebar.pug
    .container
        .container--padding
            table(cellspacing=0, cellpadding=0).calendar__table
                tbody  
                    tr
                        th.calendar--weekday.center Mon
                        th.calendar--weekday.center Tue
                        th.calendar--weekday.center Wed
                        th.calendar--weekday.center Thu
                        th.calendar--weekday.center Fri
                        th.calendar--weekday.center Sat
                        th.calendar--weekday.center Sun
                    tr
                        td.calendar__day
                            .calendar__date
                                strong 31 Jul
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                        td.calendar__day
                            .calendar__date
                                strong 1 Ago
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                        td.calendar__day
                            .calendar__date
                                strong 2 Ago
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                        td.calendar__day
                            .calendar__date
                                strong 3 Ago
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                        td.calendar__day
                            .calendar__date
                                strong 4 Ago
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                        td.calendar__day
                            .calendar__date
                                strong 5 Ago
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                        td.calendar__day
                            .calendar__date
                                strong 6 Ago
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                    tr
                        td.calendar__day
                            .calendar__date
                                strong 7 Ago
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                        td.calendar__day
                            .calendar__date
                                strong 8 Ago
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                        td.calendar__day
                            .calendar__date
                                strong 9 Ago
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                        td.calendar__day
                            .calendar__date
                                strong 10 Ago
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                        td.calendar__day
                            .calendar__date
                                strong 11 Ago
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                        td.calendar__day
                            .calendar__date
                                strong 12 Ago
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                        td.calendar__day
                            .calendar__date
                                strong 13 Ago
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                    tr
                        td.calendar__day
                            .calendar__date
                                strong 14 Ago
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                        td.calendar__day
                            .calendar__date
                                strong 15 Ago
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                        td.calendar__day
                            .calendar__date
                                strong 16 Ago
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                        td.calendar__day
                            .calendar__date
                                strong 17 Ago
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                        td.calendar__day
                            .calendar__date
                                strong 18 Ago
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                        td.calendar__day
                            .calendar__date
                                strong 19 Ago
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                        td.calendar__day
                            .calendar__date
                                strong 20 Ago
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                    tr
                        td.calendar__day
                            .calendar__date
                                strong 21 Ago
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                        td.calendar__day
                            .calendar__date
                                strong 22 Ago
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                        td.calendar__day
                            .calendar__date
                                strong 23 Ago
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                        td.calendar__day
                            .calendar__date
                                strong 24 Ago
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                        td.calendar__day
                            .calendar__date
                                strong 25 Ago
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                        td.calendar__day
                            .calendar__date
                                strong 26 Ago
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                        td.calendar__day
                            .calendar__date
                                strong 27 Ago
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                    tr
                        td.calendar__day
                            .calendar__date
                                strong 28 Ago
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                        td.calendar__day
                            .calendar__date
                                strong 29 Ago
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                        td.calendar__day
                            .calendar__date
                                strong 30 Ago
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                        td.calendar__day
                            .calendar__date
                                strong 31 Ago
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                        td.calendar__day
                            .calendar__date
                                strong 01 Sep
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                        td.calendar__day
                            .calendar__date
                                strong 02 Sep
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
                        td.calendar__day
                            .calendar__date
                                strong 03 Sep
                            .calendar__cell
                                ul
                                    li
                                        .calendar__cell--checkbox
                                            input(type='checkbox', id='temporary')
                                            label(for='temporary')
                                        a Tv Show Name
                                        span
                                            br
                                            | Episode Name
        include partials/footer.pug
        