extends layout/base
include mixins/index

block content
    include partials/sidebar.pug
    #page-content-wrapper
        .main-container
            .row
                .col-md-12.py-3.text-center
                    if (error && message)
                        h1= error
                        p= message
                    else
                        h1 Ooops. Something went wrong.