extends layout/base

block content
    include partials/sidebar.pug
    .main-container
        .row
            .col-md-11.pt-3.mx-auto
                .row.py-7
                    .col-md-8.center-vh
                        h1.title.text-center NEVER MISS AN EPISODE
                        p.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, porro eos esse officia praesentium quaerat.
                    .col-md-4.center-vh
                        button(type='button', data-toggle='modal' data-target='#register-modal').btn.btn-primary.btn-lg.btn-block.mb-1 Register
                        #register-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='register-modal-label', aria-hidden='true')
                            .modal-dialog(role='document')
                                form#register-form.modal-content
                                    .modal-header
                                        h5#register-modal-label.modal-title Register
                                        button(type='button', data-dismiss='modal', aria-label='Close').close
                                            span(aria-hidden='true') &times;
                                    .modal-body
                                            .form-group
                                                label(for='register-email').form-control-label Email address:
                                                input(type='email', aria-describedby='emailHelp', placeholder='Email address')#register-email.form-control
                                                small#emailHelp.form-text.text-muted Only used as your login, and optional email notifications.
                                            .form-group
                                                label(for='register-password').form-control-label Password:
                                                input(type='password', aria-describedby='passwordHelp', placeholder='Password')#register-password.form-control
                                                small#passwordHelp.form-text.text-muted Length must be between 6-20 characters.
                                            .form-group
                                                label(for='register-password-d').form-control-label Confirm Password:
                                                input(type='password', placeholder='Confirm Password')#register-password-d.form-control
                                    .modal-footer
                                        button(type='button', data-dismiss='modal').btn.btn-secondary Close
                                        button(type='submit')#register-submit.btn.btn-primary Submit
                        button(type='button', data-toggle='modal' data-target='#login-modal').btn.btn-secondary.btn-block Login
                        #login-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='login-modal-label', aria-hidden='true')
                            .modal-dialog(role='document')
                                form#login-form.modal-content
                                    .modal-header
                                        h5#login-modal-label.modal-title Login
                                        button(type='button', data-dismiss='modal', aria-label='Close').close
                                            span(aria-hidden='true') &times;
                                    .modal-body
                                            .form-group
                                                label(for='login-email').form-control-label Email address:
                                                input(type='email', placeholder='Email address')#login-email.form-control
                                            .form-group
                                                label(for='login-password').form-control-label Password:
                                                input(type='password', placeholder='Password')#login-password.form-control
                                    .modal-footer
                                        button(type='button', data-dismiss='modal').btn.btn-secondary Close
                                        button(type='submit')#login-submit.btn.btn-primary Submit
                .row
                    .col-md-3
                        .card
                            .card-body
                                i(aria-hidden='true').fa.fa-calendar.fa-5x.d-flex.justify-content-center
                                h2.card-title.mt-3.text-center Card title
                                p.card-text.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, voluptas!
                    .col-md-3
                        .card
                            .card-body
                                i(aria-hidden='true').fa.fa-calendar.fa-5x.d-flex.justify-content-center
                                h2.card-title.mt-3.text-center Card title
                                p.card-text.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, voluptas!
                    .col-md-3
                        .card
                            .card-body
                                i(aria-hidden='true').fa.fa-calendar.fa-5x.d-flex.justify-content-center
                                h2.card-title.mt-3.text-center Card title
                                p.card-text.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, voluptas!
                    .col-md-3
                        .card
                            .card-body
                                i(aria-hidden='true').fa.fa-calendar.fa-5x.d-flex.justify-content-center
                                h2.card-title.mt-3.text-center Card title
                                p.card-text.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, voluptas!                
            