mixin styleDaysFromOtherMonths(k, j, i)
    - if (calendar.daysFromPreviousMonth > k + j || calendar.daysFromNextMonth >= calendar.calendarData.length - (k + j))
        td(data-cellid= j+k).calendar__day.calendar__day-othermonth
            block
    - else
        td(class={'highlight' : (j + k === calendar.daysFromPreviousMonth + calendar.day - 1)}, data-cellid= j+k).calendar__day
            block