extends layout/base

block content
    include partials/sidebar
    include partials/topbar
    #page-content-wrapper
        .main-container
            .row
                .col-md-12.py-3.text-center
                    h2 Ooops. This page doesn't exist.