extends layout/base

block content
    #page-content-wrapper
        .main-container
            .row
                .col-md-12.py-3.text-center
                    if (error)
                        p= error
                    else
                        h2 Ooops. Something went wrong.