extends layout/base

block content
    include partials/sidebar
    include partials/topbar
    #page-content-wrapper
        .main-container
            .row
                .col-md-11.pt-3.mx-auto
                    .row.py-7.action
                        .col-12.col-md-8.center-vh
                            h1.title.text-center NEVER MISS AN EPISODE
                            p.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, porro eos esse officia praesentium quaerat.
                        .col-12.col-md-4.center-vh
                            button(type='button', data-toggle='modal', data-target='#signup-modal').btn.btn-primary.btn-lg.btn-block Signup
                            button(type='button', data-toggle='modal', data-target='#login-modal').btn.btn-secondary.btn-block Login
                    .row
                        .col-12.col-md-3
                            .card
                                .card-body
                                    i(aria-hidden='true').fa.fa-calendar.fa-5x.d-flex.justify-content-center
                                    h2.card-title.mt-3.text-center Card title
                                    p.card-text.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, voluptas!
                        .col-12.col-md-3
                            .card
                                .card-body
                                    i(aria-hidden='true').fa.fa-calendar.fa-5x.d-flex.justify-content-center
                                    h2.card-title.mt-3.text-center Card title
                                    p.card-text.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, voluptas!
                        .col-12.col-md-3
                            .card
                                .card-body
                                    i(aria-hidden='true').fa.fa-calendar.fa-5x.d-flex.justify-content-center
                                    h2.card-title.mt-3.text-center Card title
                                    p.card-text.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, voluptas!
                        .col-12.col-md-3
                            .card
                                .card-body
                                    i(aria-hidden='true').fa.fa-calendar.fa-5x.d-flex.justify-content-center
                                    h2.card-title.mt-3.text-center Card title
                                    p.card-text.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, voluptas
                    include modals/bug
                    include modals/signup
                    include modals/login
                    include modals/forgot
                    include modals/reset
block scripts
    script(src='https://www.google.com/recaptcha/api.js?onload=captchaCb&render=explicit', async, defer)
    script.
        const resetPw = !{JSON.stringify((resetPassword ? resetPassword : false)).replace(/<\//g, "<\\/")};
        function captchaCb() {
            grecaptcha.render('id1', {'sitekey' : '6LdypToUAAAAAO1lwC4KARcjELhIhBAL5f2gCagg'});
            grecaptcha.render('id2', {'sitekey' : '6LdypToUAAAAAO1lwC4KARcjELhIhBAL5f2gCagg'});
        };