extends layout/base

block content
    #page-content-wrapper
        .main-container
            .row
                .col-md-12
                    p User profile
                    p= 'User id: ' + userId