footer
    .row.py-3
        .col-md-3
            .card
                .card-body
                    i(aria-hidden="true").fa.fa-calendar.fa-5x.d-flex.justify-content-center
                    h2.card-title.mt-3.text-center Card title
                    p.card-text.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, voluptas!
        .col-md-3
            .card
                .card-body
                    i(aria-hidden="true").fa.fa-calendar.fa-5x.d-flex.justify-content-center
                    h2.card-title.mt-3.text-center Card title
                    p.card-text.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, voluptas!
        .col-md-3
            .card
                .card-body
                    i(aria-hidden="true").fa.fa-calendar.fa-5x.d-flex.justify-content-center
                    h2.card-title.mt-3.text-center Card title
                    p.card-text.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, voluptas!
        .col-md-3
            .card
                .card-body
                    i(aria-hidden="true").fa.fa-calendar.fa-5x.d-flex.justify-content-center
                    h2.card-title.mt-3.text-center Card title
                    p.card-text.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis, voluptas!                
            