#sidebar-wrapper.d-none.d-md-block
    nav
        span
            span#toggle-sidebar.icon-caret-left
            span#close-sidebar.icon-close.d-none
        a.logo(href='/tsm', class={'home' : homepage})
            img(src='/tsm/img/logo.png', alt='TSM logo').d-flex.justify-content-center.my-3
        ul.nav.nav-pills.flex-column
            li.nav-item.my-2
                form#search-form
                    .input-group
                        span.input-group-prepend
                            span.icon-search.px-3
                        input(type='text', autocomplete='off', placeholder='Search')#tvshow-search.form-control.typeahead
                        button(type='submit')
                            span.icon-arrow-right
            li.nav-item(class={'active': (sidebarIndex === 'calendar')})
                a.nav-link(href='/tsm/calendar')
                    span.icon-calendar.mr-2
                    span Calendar
            li.nav-item.position-relative(class={'active': (sidebarIndex === 'watchlist')})
                a.nav-link.d-inline-block(href='/tsm/watchlist')
                    span.icon-th-list.mr-2
                    span Watchlist
                span#sidebar-counter
        .beta
            span BETA
            button(type='button', data-toggle='modal', data-target='#bug-modal').btn.btn-secondary.btn-block Report a bug