#forgotpw-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='forgotpw-modal-label', aria-hidden='true')
    .modal-dialog(role='document')
        form#forgotpw-form.modal-content
            .modal-header
                h3#forgotpw-modal-label.modal-title Reset password
                button(type='button', data-dismiss='modal', aria-label='Close').close
                    span(aria-hidden='true') &times;
            .modal-body
                    .form-group
                        label(for='forgotpw-email').form-control-label Email address:
                        input(type='email', placeholder='Email address')#forgotpw-email.form-control
                    .form-group
                        label(for='forgotpw-email-d').form-control-label Confirm Email address:
                        input(type='email', placeholder='Confirm Email address')#forgotpw-email-d.form-control
                    .form-group
                        .g-recaptcha#id2
            .modal-footer
                button(type='button', data-dismiss='modal').btn.btn-secondary Close
                button(type='submit')#forgotpw-submit.btn.btn-primary Submit