#signup-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='signup-modal-label', aria-hidden='true')
    .modal-dialog(role='document')
        form#signup-form.modal-content
            .modal-header
                h3#signup-modal-label.modal-title Signup
                button(type='button', data-dismiss='modal', aria-label='Close').close
                    span(aria-hidden='true') &times;
            .modal-body
                    .form-group
                        label(for='signup-email').form-control-label Email address:
                        input(type='email', aria-describedby='emailHelp', placeholder='Email address')#signup-email.form-control
                        small#emailHelp.form-text.text-muted Only used as your login, and optional email notifications.
                    .form-group
                        label(for='signup-password').form-control-label Password:
                        input(type='password', aria-describedby='passwordHelp', placeholder='Password')#signup-password.form-control
                        small#passwordHelp.form-text.text-muted Length must be between 8-30 characters.
                    .form-group
                        label(for='signup-password-d').form-control-label Confirm Password:
                        input(type='password', placeholder='Confirm Password')#signup-password-d.form-control
                    .form-group
                        .g-recaptcha#id1
            .modal-footer
                button(type='button', data-dismiss='modal').btn.btn-secondary Close
                button(type='submit')#signup-submit.btn.btn-primary Submit