$shadow: rgba(0, 0, 0, 0.1) 0 2px 4px, rgba(0, 0, 0, 0.1) 0 0 3px;

.calendar {
    &__table {
        width: 100%;
        table-layout: fixed;
        box-shadow: $shadow;
        tr td {
            height: 130px;
            vertical-align: top;
            &:not(:last-child) {
                border-right: 1px solid $black;
            }
            font-size: 14px;
        }
    }
    &__weekday {
        background-color: $gray;
        color: $white;
        padding: 7px 12px;
    }
    &__date {
        background-color: $gray;
        padding: 5px;
    }
    &__day {
        &-othermonth {
            opacity: 0.5;
        }
    }
    &__cell {
        padding: 5px;
        ul {
            list-style: none;
            padding: 0;
            li {
                &:not(:last-child) {
                    padding-bottom: 10px;
                }
            }
        }
        &--checkbox {
            display: inline-block;
        }
    }
}

.month-nav {
    width: 44%;
}
