#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 200px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    background: $black;
}

nav {
    width: 200px;
    position: fixed;
    background-color: $black;
    .logo {
        color: $grey;
    }
    form {
        width: 90%;
        @extend .mx-auto;
        input {
            background: transparent;
            border: none;
            color: $white;
        }
        span.input-group-addon {
            background: none;
            background-color: $black;
            border: 1px solid $black;
            border-right: 0;
        }
    }
    ul {
        li {
            &.active {
                a {
                    background-color: transparent !important;
                    color: $white;
                }
                i {
                    color: $yellow;
                }
            }
            a {
                color: $grey;
            }
            &:not(.active) {
                & a:hover {
                    color: $grey;
                }
                & span:hover {
                    color: $white;
                }
            }
            i {
                width: 21px;
                text-align: center;
            }
        }
    }
}