#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 200px;
    width: 0;
    height: 100%;
    margin-left: -200px;
    overflow-y: auto;
    background: $black;
}

nav {
    width: 200px;
    position: fixed;
    background-color: $gray-900;
    .logo {
        color: $gray;
        &:hover {
            text-decoration: none;
            color: $gray-400;
        }
    }
    form {
        width: 90%;
        @extend .mx-auto;
        input {
            background: transparent;
            border: none;
            color: $white;
        }
        span.input-group-addon {
            background: transparent;
            border: 1px solid $gray-700;
            border-right: 0;
        }
    }
    ul {
        li {
            &.active {
                a {
                    background-color: transparent !important;
                    color: $white;
                }
                i {
                    color: $yellow;
                }
            }
            a {
                color: $gray;
            }
            &:not(.active):not(:first-child) {
                & a:hover {
                    color: $gray;
                }
                & span:hover {
                    color: $white;
                }
            }
            i {
                width: 21px;
                text-align: center;
            }
        }
    }
}

.input-loading {    
    background-color: $white;
    background-image: url("http://loadinggif.com/images/image-selection/3.gif");
    background-size: 15px 15px;
    background-position: right 10px center;
    background-repeat: no-repeat;
}