$shadow: rgba(0, 0, 0, 0.1) 0 2px 4px, rgba(0, 0, 0, 0.1) 0 0 3px;

.calendar {
    &__table {
        width: 100%;
        table-layout: fixed;
        box-shadow: $shadow;
        tr td {
            height: 130px;
            vertical-align: top;
            &:not(:last-child) {
                border-right: 1px solid $black;
            }
            font-size: 14px;
        }
    }
    &__weekday {
        background-color: $deeppurple;
        color: $white;
        padding: 7px 12px;
    }
    &__date {
        background-color: $gray;
        padding: 5px;
        font-size: 13px;
        height: 28px;
    }
    &__day {
        &-othermonth {
            opacity: 0.5;
        }
    }
    &__cell {
        padding: 5px;
        ul {
            list-style: none;
            padding: 0;
            li {
                &:not(:last-child) {
                    padding-bottom: 10px;
                }
                &.watched {
                    text-decoration: line-through;
                    opacity: 0.5;
                }
            }
        }
        &--checkbox {
            display: inline-block;
        }
        &--tvshow {
            padding-left: 0.3em;
        }
        &--episode {
            font-size: 0.8em;
        }
    }
}

.month-nav-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.month-nav {
    width: 40%;
}
