@import 'calendar';
@import 'index';
@import 'search';
@import 'sidebar';
@import 'sizes';
@import 'topbar';
@import 'tvshows';
@import 'watchlist';

.main-container {
    @extend .container-fluid;
    padding-left: 200px;
    padding-right: 0;
    .row {
        margin: 0;
    }
    &.reduced {
        padding-left: 70px;
    }
    @include media-breakpoint-down(md) {
        padding-left: 0;
    }
}

#wrapper {
    padding-left: 0;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    z-index: 100;
    @include media-breakpoint-down(md) {
        margin-top: 70px;
    }
}

.cardbox {
    transition: box-shadow .25s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    border-radius: 2px;
}