@import 'calendar';
@import 'sizes';
@import 'index';
@import 'sidebar';
@import 'tvshows';

.main-container {
    @extend .container-fluid;
    padding-left: 200px;
    padding-right: 0;
    .row {
        margin: 0;
    }
}

#wrapper {
    padding-left: 0;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
}

.cardbox {
    transition: box-shadow .25s;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 2px;
}