h1.title {
    font-size: 3rem;
}

.center-vh {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.action {
    @include media-breakpoint-down(md) {
        height: calc(100vh - 70px);
        padding: 0 !important;
    }
}