.poster {
    opacity: .6;
    overflow: hidden;
    position: relative;
    &:not(:last-child) {
        @extend .mr-3;
    }
    img {
        cursor: pointer;
        height: 222px;
        padding: 5px;
        position: relative;
        width: 150px;
    }
    span {
        background-color: $white;
        border-radius: 3px;
        box-shadow: 0 0 3px rgba(0, 0, 0, .75);
        font-size: 14px;
        font-weight: bold;
        left: 5px;
        margin: 0 4px;
        min-width: 20px;
        padding: 5px;
        position: absolute;
        text-align: center;
        top: -2px;
    }
    &.highlight,
    &:hover {
        opacity: 1;
        img {
            border: 5px solid $primary;
            padding: 0;
        }
    }
}

.counter {
    bottom: 0;
    margin: 0;
    position: absolute;
    right: 0;
    span {
        font-weight: bold;
    }
}

// a.ellipsis-link {
//     display: none;
// }

.watchlist-list {
    select {
        width: 89%;
    }
    div > span {
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 0.25rem;
        border: 1px solid $gray-400;
        color: $gray-700;
        display: inline-block;
        line-height: 36px;
        text-align: center;
        width: 10%;
    }
}

table {
    td {
        &.title {
            width: 11%;
        }
        &.overview {
            font-size: 14px;
            text-align: justify;
            text-indent: 2em;
            width: 75%;
            // @include media-breakpoint-down(md) {
            //     position: relative;
            //     display: -webkit-box;
            //     -webkit-line-clamp: 2;
            //     -webkit-box-orient: vertical;
            //     max-height: 2.2em;
            //     overflow: hidden;
            //     position: relative;
            //     a.ellipsis-link {
            //         display: block;
            //         position: absolute;
            //         right: 0; bottom: 0;
            //         width: 4.2em;
            //         height: 1.2em;
            //         cursor: pointer;
            //     }
            // }
        }
        &.airdate {
            white-space: nowrap;
            width: 7%;
        }
        &.watched {
            width: 2%;
        }
        i {
            cursor: pointer;
        }
    }
}