.poster {
    opacity: .6;
    position: relative;
    overflow: hidden;
    &:not(:last-child) {
        @extend .mr-3;
    }
    img {
        width: 150px;
        height: 222px;
        cursor: pointer;
        position: relative;
    }
    span {
        position: absolute;
        left: 5px;
        top: -2px;
        background-color: $white;
        text-align: center;
        border-radius: 3px;
        min-width: 20px;
        padding: 5px;
        margin: 0 4px;
        font-weight: bold;
        font-size: 14px;
        box-shadow: 0 0 3px rgba(0, 0, 0, .75);
    }
    &.highlight,
    &:hover {
        opacity: 1;
        img {
            border: 5px solid $primary;
        }
    }
}

.counter {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    span {
        font-weight: bold;
    }
}

table {
    td {
        &.title {
            width: 11%;
        }
        &.overview {
            width: 75%;
            font-size: 14px;
            text-align: justify;
            text-indent: 2em;
        }
        &.airdate {
            width: 7%;
            white-space: nowrap;
        }
        &.watched {
            width: 2%;
        }
        i {
            cursor: pointer;
        }
    }
}